<div class="container">
  <div class="d-flex m-5 justify-content-between">
    <h4>{{ nomeDaLista }}</h4>
    <button type="button" class="btn btn-primary">novo</button>
  </div>
  <table class="table">
    <thead>
      <tr class="row">
        <th class="col-1">ID</th>
        <th class="col-9">Nome</th>
        <th class="col-2">Acao</th>
      </tr>
    </thead>
    <tbody>
      @for (item of data; track $index) {
      <tr class="row">
        <!-- Use editoras em vez de lista -->
        <td class="col-1">{{ item.id }}</td>
        <!-- Use td em vez de th para o ID -->
        <td class="col-9">{{ item.nome }}</td>
        <td class="col-2 d-flex">
          <button
            type="button"
            class="btn btn-primary mr-3"
            (click)="abrirModalEditar()"
          >
            Editar
          </button>
          <button type="button" class="btn btn-danger">Deletar</button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <!-- Modal -->
  <ng-template id="modal" #modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">
        {{ nomeDaLista }}
      </h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modalRef.close()"
      ></button>
    </div>

    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            formControlName="nome"
            required
          />
        </div>

        <button type="button" class="btn btn-primary" (click)="salvarItem()">
          {{ nomeDaLista === "Cadastrar" ? "Cadastrar" : "Salvar" }}
        </button>
      </form>
    </div>
  </ng-template>
</div>
